.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: var(--spacing-small) var(--spacing-medium);
    position: relative;
    height: 10vh;
    border-color: var(--font-color);
    border-bottom: 1px solid;
}
  
  